<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Question0</title>
  </head>
  <body>
    <form action="/answer" method="POST">
      <label for="answer">{{all_questions[0]}}</label>
      <input type="radio" id="yes" value="yes" name="answer" />
      <label for="yes">yes</label>

      <input type="radio" id="no" value="no" name="answer" />
      <label for="no">no</label>

      <button>submit</button>
    </form>
  </body>
</html>
